<!DOCTYPE html>
<html lang="zxx">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>HONO - Multi Purpose HTML Template</title>

    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/png">

   
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    

</head>

<body>
    <!-- Start Header Area -->
    <header class="header-section d-none d-xl-block">
        <div class="header-wrapper">
            <div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <!-- Start Header Logo -->
                            <div class="header-logo">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/images/logo/logo_black.png" alt=""></a>
                                </div>
                            </div>
                            <!-- End Header Logo -->

                            <!-- Start Header Main Menu -->
                            <div class="main-menu menu-color--black menu-hover-color--golden">
                                <nav>
                                    <ul>
                                        <li class="">
                                            <a class="active " href="index.html">Home <i
                                                    class=""></i></a>
                                            <!-- Sub Menu -->
                                        
                                        </li>
                                        <li class=" has-megaitem">
                                            <a href="/shop">Shop <i
                                                    class=""></i></a>
                                        </li>
                                        <li>
                                            <a href="">About Us</a>
                                        </li>
                                        <li>
                                            <a href="">Contact Us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Header Main Menu Start -->

                            <!-- Start Header Action Link -->
                            <ul class="header-action-link action-color--black action-hover-color--golden">
                                <li>
                                    <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                        <i class="icon-heart"></i>
                                        <span class="item-count">3</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                        <i class="icon-bag"></i>
                                        <span class="item-count">3</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#search">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
                                        <i class="icon-menu"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Header Action Link -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Start Header Area -->

    <!-- Start Mobile Header -->
    <div class="mobile-header mobile-header-bg-color--golden section-fluid d-lg-block d-xl-none">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-between">
                    <!-- Start Mobile Left Side -->
                    <div class="mobile-header-left">
                        <ul class="mobile-menu-logo">
                            <li>
                                <a href="index.html">
                                    <div class="logo">
                                        <img src="assets/images/logo/logo_black.png" alt="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Mobile Left Side -->

                    <!-- Start Mobile Right Side -->
                    <div class="mobile-right-side">
                        <ul class="header-action-link action-color--black action-hover-color--golden">
                            <li>
                                <a href="#search">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                    <i class="icon-heart"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                    <i class="icon-bag"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                                    <i class="icon-menu"></i>
                                </a>
                            </li>
                            <div class="onhover-show-div user fa fa-user"> 
                                <ul > 
          
                                   <% if(message) { %>
                                    <li><a class="text-decoration-none" href="/myaccount">Account</a></li>
                                    <li><a class="text-decoration-none" href="/logout">Logout</a></li>
                                  <% } else { %>
          
                                    <li><a class="text-decoration-none" href="/login">Login</a></li>
                                    <li><a class="text-decoration-none" href="/signup">Register</a></li> 
                                    <% } %>
          
                                  </ul>
                              </div>
                        </ul>
                    </div>
                    <!-- End Mobile Right Side -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Mobile Header -->

    <!--  Start Offcanvas Mobile Menu Section -->
    <div id="mobile-menu-offcanvas" class="offcanvas offcanvas-rightside offcanvas-mobile-menu-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- End Offcanvas Header -->
        <!-- Start Offcanvas Mobile Menu Wrapper -->
        <div class="offcanvas-mobile-menu-wrapper">
            <!-- Start Mobile Menu  -->
            <div class="mobile-menu-bottom">
                <!-- Start Mobile Menu Nav -->
                <div class="offcanvas-menu">
                    <ul>
                        <li>
                            <a href="#"><span>Home</span></a>
                            <ul class="mobile-sub-menu">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                                <li><a href="index-4.html">Home 4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Shop</span></a>
                            <ul class="mobile-sub-menu">
                                <li>
                                    <a href="#">Shop Layout</a>
                                    <ul class="mobile-sub-menu">
                                        <li><a href="shop-grid-sidebar-left.html">Grid Left Sidebar</a></li>
                                        <li><a href="shop-grid-sidebar-right.html">Grid Right Sidebar</a></li>
                                        <li><a href="shop-full-width.html">Full Width</a></li>
                                        <li><a href="shop-list-sidebar-left.html">List Left Sidebar</a></li>
                                        <li><a href="shop-list-sidebar-right.html">List Right Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mobile-sub-menu">
                                <li>
                                    <a href="#">Shop Pages</a>
                                    <ul class="mobile-sub-menu">
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="empty-cart.html">Empty Cart</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="compare.html">Compare</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mobile-sub-menu">
                                <li>
                                    <a href="#">Product Single</a>
                                    <ul class="mobile-sub-menu">
                                        <li><a href="product-details-default.html">Product Default</a></li>
                                        <li><a href="product-details-variable.html">Product Variable</a></li>
                                        <li><a href="product-details-affiliate.html">Product Referral</a></li>
                                        <li><a href="product-details-group.html">Product Group</a></li>
                                        <li><a href="product-details-single-slide.html">Product Slider</a></li>
                                        <li><a href="product-details-tab-left.html">Product Tab Left</a></li>
                                        <li><a href="product-details-tab-right.html">Product Tab Right</a></li>
                                        <li><a href="product-details-gallery-left.html">Product Gallery Left</a></li>
                                        <li><a href="product-details-gallery-right.html">Product Gallery Right</a></li>
                                        <li><a href="product-details-sticky-left.html">Product Sticky Left</a></li>
                                        <li><a href="product-details-sticky-right.html">Product Sticky right</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Blogs</span></a>
                            <ul class="mobile-sub-menu">
                                <li>
                                    <a href="#">Blog Grid</a>
                                    <ul class="mobile-sub-menu">
                                        <li><a href="blog-grid-sidebar-left.html">Blog Grid Sidebar left</a></li>
                                        <li><a href="blog-grid-sidebar-right.html">Blog Grid Sidebar Right</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="blog-full-width.html">Blog Full Width</a>
                                </li>
                                <li>
                                    <a href="#">Blog List</a>
                                    <ul class="mobile-sub-menu">
                                        <li><a href="blog-list-sidebar-left.html">Blog List Sidebar left</a></li>
                                        <li><a href="blog-list-sidebar-right.html">Blog List Sidebar Right</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog Single</a>
                                    <ul class="mobile-sub-menu">
                                        <li><a href="blog-single-sidebar-left.html">Blog Single Sidebar left</a></li>
                                        <li><a href="blog-single-sidebar-right.html">Blog Single Sidebar Right</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Pages</span></a>
                            <ul class="mobile-sub-menu">
                                <li><a href="faq.html">Frequently Questions</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="404.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div> <!-- End Mobile Menu Nav -->
            </div> <!-- End Mobile Menu -->

            <!-- Start Mobile contact Info -->
            <div class="mobile-contact-info">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo/logo_white.png" alt=""></a>
                </div>

                <address class="address">
                    <span>Address: Your address goes here.</span>
                    <span>Call Us: 0123456789, 0123456789</span>
                    <span>Email: demo@example.com</span>
                </address>

                <ul class="social-link">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <ul class="user-link">
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
            <!-- End Mobile contact Info -->

        </div> <!-- End Offcanvas Mobile Menu Wrapper -->
    </div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

    <!-- Start Offcanvas Mobile Menu Section -->
    <div id="offcanvas-about" class="offcanvas offcanvas-rightside offcanvas-mobile-about-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- End Offcanvas Header -->
        <!-- Start Offcanvas Mobile Menu Wrapper -->
        <!-- Start Mobile contact Info -->
        <div class="mobile-contact-info">
            <div class="logo">
                <a href="index.html"><img src="assets/images/logo/logo_white.png" alt=""></a>
            </div>

            <address class="address">
                <span>Address: Your address goes here.</span>
                <span>Call Us: 0123456789, 0123456789</span>
                <span>Email: demo@example.com</span>
            </address>

            <ul class="social-link">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <ul class="user-link">
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
            </ul>
        </div>
        <!-- End Mobile contact Info -->
    </div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

    <!-- Start Offcanvas Addcart Section -->
    <div id="offcanvas-add-cart" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- End Offcanvas Header -->

        <!-- Start  Offcanvas Addcart Wrapper -->
        <div class="offcanvas-add-cart-wrapper">
            <h4 class="offcanvas-title">Shopping Cart</h4>
            <!-- <ul class="offcanvas-cart">
                <li class="offcanvas-cart-item-single">
                    <div class="offcanvas-cart-item-block">
                        <a href="#" class="offcanvas-cart-item-image-link">
                            <img src="assets/images/product/default/home-1/default-1.jpg" alt=""
                                class="offcanvas-cart-image">
                        </a>
                        <div class="offcanvas-cart-item-content">
                            <a href="#" class="offcanvas-cart-item-link">Car Wheel</a>
                            <div class="offcanvas-cart-item-details">
                                <span class="offcanvas-cart-item-details-quantity">1 x </span>
                                <span class="offcanvas-cart-item-details-price">$49.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-cart-item-delete text-right">
                        <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-cart-item-single">
                    <div class="offcanvas-cart-item-block">
                        <a href="#" class="offcanvas-cart-item-image-link">
                            <img src="assets/images/product/default/home-2/default-1.jpg" alt=""
                                class="offcanvas-cart-image">
                        </a>
                        <div class="offcanvas-cart-item-content">
                            <a href="#" class="offcanvas-cart-item-link">Car Vails</a>
                            <div class="offcanvas-cart-item-details">
                                <span class="offcanvas-cart-item-details-quantity">3 x </span>
                                <span class="offcanvas-cart-item-details-price">$500.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-cart-item-delete text-right">
                        <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-cart-item-single">
                    <div class="offcanvas-cart-item-block">
                        <a href="#" class="offcanvas-cart-item-image-link">
                            <img src="assets/images/product/default/home-3/default-1.jpg" alt=""
                                class="offcanvas-cart-image">
                        </a>
                        <div class="offcanvas-cart-item-content">
                            <a href="#" class="offcanvas-cart-item-link">Shock Absorber</a>
                            <div class="offcanvas-cart-item-details">
                                <span class="offcanvas-cart-item-details-quantity">1 x </span>
                                <span class="offcanvas-cart-item-details-price">$350.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-cart-item-delete text-right">
                        <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            </ul> -->
            <!-- <div class="offcanvas-cart-total-price">
                <span class="offcanvas-cart-total-price-text">Subtotal:</span>
                <span class="offcanvas-cart-total-price-value">$170.00</span>
            </div> -->
            <ul class="offcanvas-cart-action-button">
                <li><a href="/cart" class="btn btn-block btn-golden">View Cart</a></li>
                <li><a href="/checkout" class=" btn btn-block btn-golden mt-5">Checkout</a></li>
            </ul>
        </div> <!-- End  Offcanvas Addcart Wrapper -->

    </div> <!-- End  Offcanvas Addcart Section -->

    <!-- Start Offcanvas Mobile Menu Section -->
    <div id="offcanvas-wishlish" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- ENd Offcanvas Header -->

        <!-- Start Offcanvas Mobile Menu Wrapper -->
        <div class="offcanvas-wishlist-wrapper">
            <h4 class="offcanvas-title">Wishlist</h4>
            <ul class="offcanvas-wishlist">
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="assets/images/product/default/home-1/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image">
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Car Wheel</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">1 x </span>
                                <span class="offcanvas-wishlist-item-details-price">$49.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="assets/images/product/default/home-2/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image">
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Car Vails</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">3 x </span>
                                <span class="offcanvas-wishlist-item-details-price">$500.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="assets/images/product/default/home-3/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image">
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Shock Absorber</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">1 x </span>
                                <span class="offcanvas-wishlist-item-details-price">$350.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            </ul>
            <ul class="offcanvas-wishlist-action-button">
                <li><a href="#" class="btn btn-block btn-golden">View wishlist</a></li>
            </ul>
        </div> <!-- End Offcanvas Mobile Menu Wrapper -->

    </div> <!-- End Offcanvas Mobile Menu Section -->

    <!-- Start Offcanvas Search Bar Section -->
    <div id="search" class="search-modal">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-lg btn-golden">Search</button>
        </form>
    </div>
    <!-- End Offcanvas Search Bar Section -->

    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Checkout</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <!-- <li><a href="index.html">Home</a></li> -->
                                    <li><a href="/cart">cart</a></li>
                                    <li class="active" aria-current="page">Checkout</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Checkout Section:::... -->
    <div class="checkout-section">
        <div class="container">
            <div class="row">
                <!-- User Quick Action Form -->
                <div class="col-12">
                  
                    <div class="user-actions accordion" data-aos="fade-up" data-aos-delay="200">
                        <h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            APPLY COUPON
                            <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_coupon"
                                aria-expanded="true">Click here to select your coupon</a>
                        </h3>
                        <div id="checkout_coupon" class="collapse checkout_coupon" data-parent="#checkout_coupon">
                           
                         
                               
                     
                    </div>
                    
                </div>
                <!-- User Quick Action Form -->
            </div>
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form " data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                       
                        <div class="address-section">
                            <div class="section-header">SELECT ADDRESS</div>
                            <%for(let i=0;i<addressData.address.length;i++){%>
                                <div style="margin-left: 10px;">
                                <input type="radio" checked="checked" name="addressDiv" value="<%=addressData.address[i]._id%>" >
                            </div>
                            <div class="address-card selected" id="select<%=addressData.address[i]._id%>"  value="<%=addressData.address[i]._id%>" >
                                <div class="address-type">HOME</div>
                                <div class="address-details">
                                    
                                    name:<%=addressData.address[i].name%><br>
                                    city:<%=addressData.address[i].city%>t<br>
                                    landmark:<%=addressData.address[i].landmark%><br>
                                    state:<%=addressData.address[i].state%><br>
                                    pincode:<%=addressData.address[i].pincode%><br>
                                    phone:<%=addressData.address[i].phone%><br>
                                    <br>
                                    <!-- <button id="openEditModal<%= i %>" class="custom-btn custom-edit" addressuser="<%=i%>">Edit</button> -->
                                    <button class="custom-btn custom-edit" 
                                    value='<%- JSON.stringify(addressData.address[i]) %>'
                                    id="editID"
                                    data-index="<%=i%>">
                                Edit
                            </button>
                            
                                    
                                </div>
                            </div>

                            <%}%>                
                            <button id="openModal" class="btn" style="color: #0a0a08; background-color:#c1b9a2 ;">+ Add New Address</button>

                        </div>
                
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <form action="#" onsubmit="return false">
                            <h3>Your order</h3>
                            <!-- <div class="coupon_section mb-4">
                                <label for="couponSelect">Apply Coupon</label>
                                <div class="input-group">
                                    <select id="couponSelect" class="form-control">
                                        <option value="" selected>Select a coupon</option>
                                        <option value="SAVE10">SAVE10 - 10% off</option>
                                        <option value="SAVE20">SAVE20 - 20% off</option>
                                    </select>
                                    <button id="couponButton" class="btn btn-md btn-black-default-hover" type="button">Apply</button>
                                </div>
                                <small id="couponFeedback" class="mt-2 d-block"></small>
                              </div> -->
                           <!-- Coupon Section -->
<!-- Coupon Section -->
<div class="coupon_section mb-4">
    <label for="couponSelect">Apply Coupon</label>
    <div class="input-group">
        <select id="couponSelect" class="form-control">
            <option value="" selected>Select a coupon</option>
            <% for(let i = 0; i < activeCoupens.length; i++) { %>
                <option value="<%= activeCoupens[i].name %>"><%= activeCoupens[i].name %></option>
            <% } %>
        </select>
        <button id="couponButton" class="btn btn-md btn-black-default-hover" type="button">Apply</button>
    </div>
    <small id="couponFeedback" class="mt-2 d-block"></small>
</div>

<script>
    const couponSelect = document.getElementById("couponSelect");
    const couponButton = document.getElementById("couponButton");
    const couponFeedback = document.getElementById("couponFeedback");

    let isCouponApplied = false;
    let totalAmount = '<%= totalAmount %>'; // Ensure this is a number or convert it to a number

    couponButton.addEventListener("click", async () => {
        const selectedCoupon = couponSelect.value;

        if (!isCouponApplied) {
            if (!selectedCoupon) {
                couponFeedback.className = "text-danger";
                couponFeedback.textContent = "Please select a coupon.";
                return;
            }

            try {
                const response = await fetch('/apply-coupon', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ totalAmount, selectedCoupon })
                });

                const result = await response.json();

                if (result.success) {
                    await Swal.fire({
                        title: 'Success!',
                        text: 'Coupon added successfully.',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                    console.log("discountPrice",result.discountPrice)
                    const coupenElement = document.getElementById('COUPENAMOUNT');
if (coupenElement) {
    coupenElement.value = result.discountPrice; // For input elements
    // OR
    coupenElement.innerHTML = result.discountPrice; // For non-input elements
}
                    const finalAmount = document.getElementById('amountTotal');
                    finalAmount.value = result.message;
                    finalAmount.innerHTML = result.message;

                    couponFeedback.className = "text-success";
                    couponFeedback.textContent = "Coupon applied successfully.";
                    couponButton.textContent = "Remove";
                    isCouponApplied = true;
                    couponSelect.disabled = true;
                } else {
                    
                    await Swal.fire({
                        title: 'Error!',
                        text: 'Failed to add the coupon. Please try again.',
                        icon: 'error',
                        confirmButtonText: 'Retry'
                    });

                }
            } catch (error) {
                console.error('Error applying coupon:', error);
                await Swal.fire({
                    title: 'Error!',
                    text: 'An error occurred while applying the coupon.',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                });
            }
        } else {
            const coupenElement = document.getElementById('COUPENAMOUNT');
if (coupenElement) {
    coupenElement.value = 0; // For input elements
    // OR
    coupenElement.innerHTML = 0; // For non-input elements
}
            await Swal.fire({
                title: 'Success!',
                text: 'Coupon removed successfully.',
                icon: 'success',
                confirmButtonText: 'OK'
            });
            console.log("Selected Coupon:", selectedCoupon)
            window.location.reload()
console.log("Selected Coupon:", selectedCoupon); 

            const finalAmount = document.getElementById('amountTotal');
            finalAmount.value = totalAmount;
            finalAmount.innerHTML = totalAmount;

            couponFeedback.textContent = "";
            couponButton.textContent = "Apply";
            isCouponApplied = false;
            couponSelect.disabled = false;
            couponSelect.value = "";
           
        }
    });
</script>

  
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%for(let i=0;i<cart.length;i++){%>
                                        <tr>
                                            <td> <strong> <%=cart[i].productId.productName%> × <%=cart[i].quantity%></strong></td>
                                            <td> <%=cart[i].totalPrice%></td>
                                        </tr>
                                       <%}%>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Cart Subtotal</th>
                                            <td> <%=totalAmount%></td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td><strong>0</strong></td>
                                        </tr>
                                        <tr>
                                            <th>Coupen Discount</th>   
                                            <td id="COUPENAMOUNT"><strong><%=coupenAmount%></strong></td>
                                        </tr>
                                        <tr>
                                            <th>Discount</th>   
                                            <td><strong><%=Disount%></strong></td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            <td><strong id="amountTotal" ><%=totalAmount%></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            
                            <div class="payment_method">
                                <div class="payment-options">
                                    <!-- Razorpay Payment Option -->
                                    <div class="panel-default">
                                      <label class="radio-default" for="currencyRazorpay">
                                        <input type="radio" id="currencyRazorpay" name="paymentMethod" value="razorpay">
                                        <span>Razorpay</span>
                                      </label>
                                      <div id="methodRazorpay" class="collapse">
                                        <div class="card-body">
                                          <p>Pay securely using Razorpay. Supports credit/debit cards, UPI, and wallets.</p>
                                        </div>
                                      </div>
                                    </div>
                                  
                                    <!-- Cash on Delivery Option -->
                                    <div class="panel-default">
                                      <label class="radio-default" for="currencyCod">
                                        <input type="radio" id="currencyCod" name="paymentMethod" value="cod">
                                        <span>Cash on Delivery</span>
                                      </label>
                                    </div>
                                    <div class="panel-default">
                                      <label class="radio-default" for="currencyWallet">
                                        <input type="radio" id="Wallet" name="paymentMethod" value="wallet">
                                        <span>Wallet</span>
                                      </label>
                                    </div>
                                  </div>
<style>.payment-options {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds space between payment options */
  }
  
  .panel-default {
    display: flex;
    align-items: center;
  }
  
  .radio-default {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between radio button and text */
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  input[type="radio"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  
  .card-body {
    margin-top: 10px;
    margin-left: 28px; /* Indents the Razorpay description */
    font-size: 14px;
    color: #555;
  }
  </style>                                  
                                  
                                  
                            
                                <div class="order_button pt-3">
                                    <button id="process" class="btn btn-md btn-black-default-hover" type="submit" disabled>Proceed</button>
                                </div>
                            </div>
                            
                            
                        </form>
                    </div>
                </div>
            </div> <!-- Start User Details Checkout Form -->
        </div>
        
    </div><!-- ...:::: End Checkout Section:::... -->

    <!-- Start Footer Section -->
    <footer class="footer-section footer-bg section-top-gap-100">
        <div class="footer-wrapper">
            <!-- Start Footer Top -->
            <div class="footer-top">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="0">
                                <h5 class="title">INFORMATION</h5>
                                <ul class="footer-nav">
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                            <!-- End Footer Single Item -->
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="200">
                                <h5 class="title">MY ACCOUNT</h5>
                                <ul class="footer-nav">
                                    <li><a href="my-account.html">My account</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="#">Order History</a></li>
                                </ul>
                            </div>
                            <!-- End Footer Single Item -->
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="400">
                                <h5 class="title">CATEGORIES</h5>
                                <ul class="footer-nav">
                                    <li><a href="#">Decorative</a></li>
                                    <li><a href="#">Kitchen utensils</a></li>
                                    <li><a href="#">Chair & Bar stools</a></li>
                                    <li><a href="#">Sofas and Armchairs</a></li>
                                    <li><a href="#">Interior lighting</a></li>
                                </ul>
                            </div>
                            <!-- End Footer Single Item -->
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="600">
                                <h5 class="title">ABOUT US</h5>
                                <div class="footer-about">
                                    <p>We are a team of designers and developers that create high quality Magento,
                                        Prestashop, Opencart.</p>

                                    <address class="address">
                                        <span>Address: Your address goes here.</span>
                                        <span>Email: demo@example.com</span>
                                    </address>
                                </div>
                            </div>
                            <!-- End Footer Single Item -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Top -->

            <!-- Start Footer Center -->
            <div class="footer-center">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-6">
                            <div class="footer-social" data-aos="fade-up" data-aos-delay="0">
                                <h4 class="title">FOLLOW US</h4>
                                <ul class="footer-social-link">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 col-md-6 mb-6">
                            <div class="footer-newsletter" data-aos="fade-up" data-aos-delay="200">
                                <h4 class="title">DON'T MISS OUT ON THE LATEST</h4>
                                <div class="form-newsletter">
                                    <form action="#" method="post">
                                        <div class="form-fild-newsletter-single-item input-color--golden">
                                            <input type="email" placeholder="Your email address..." required>
                                            <button type="submit">SUBSCRIBE!</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Footer Center -->

            <!-- Start Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div
                        class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                        <div class="col-auto mb-6">
                            <div class="footer-copyright">
                                <p class="copyright-text">&copy; 2021 <a href="index.html">therankme</a>. Made with <i
                                        class="fa fa-heart text-danger"></i> by <a href="https://therankme.com/"
                                        target="_blank">therankme</a> </p>

                            </div>
                        </div>
                        <div class="col-auto mb-6">
                            <div class="footer-payment">
                                <div class="image">
                                    <img src="assets/images/company-logo/payment.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Footer Bottom -->
        </div>
    </footer>
    <!-- End Footer Section -->

    <!-- material-scrolltop button -->
    <button class="material-scrolltop" type="button"></button>

    <!-- Start Modal Add cart -->
    <div class="modal fade" id="modalAddcart" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-right">
                                <button type="button" class="close modal-close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="modal-add-cart-product-img">
                                            <img class="img-fluid"
                                                src="assets/images/product/default/home-1/default-1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="modal-add-cart-info"><i class="fa fa-check-square"></i>Added to cart
                                            successfully!</div>
                                        <div class="modal-add-cart-product-cart-buttons">
                                            <a href="cart.html">View Cart</a>
                                            <a href="checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 modal-border">
                                <ul class="modal-add-cart-product-shipping-info">
                                    <li> <strong><i class="icon-shopping-cart"></i> There Are 5 Items In Your
                                            Cart.</strong></li>
                                    <li> <strong>TOTAL PRICE: </strong> <span>$187.00</span></li>
                                    <li class="modal-continue-button"><a href="#" data-bs-dismiss="modal">CONTINUE
                                            SHOPPING</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Modal Add cart -->

    <!-- Start Modal Quickview cart -->
    <div class="modal fade" id="modalQuickview" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-right">
                                <button type="button" class="close modal-close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-details-gallery-area mb-7">
                                    <!-- Start Large Image -->
                                    <div class="product-large-image modal-product-image-large swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-1.jpg" alt="">
                                            </div>
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-2.jpg" alt="">
                                            </div>
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-3.jpg" alt="">
                                            </div>
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-4.jpg" alt="">
                                            </div>
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-5.jpg" alt="">
                                            </div>
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-6.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Large Image -->
                                    <!-- Start Thumbnail Image -->
                                    <div
                                        class="product-image-thumb modal-product-image-thumb swiper-container pos-relative mt-5">
                                        <div class="swiper-wrapper">
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-1.jpg" alt="">
                                            </div>
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-2.jpg" alt="">
                                            </div>
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-3.jpg" alt="">
                                            </div>
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-4.jpg" alt="">
                                            </div>
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-5.jpg" alt="">
                                            </div>
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-6.jpg" alt="">
                                            </div>
                                        </div>
                                        <!-- Add Arrows -->
                                        <div class="gallery-thumb-arrow swiper-button-next"></div>
                                        <div class="gallery-thumb-arrow swiper-button-prev"></div>
                                    </div>
                                    <!-- End Thumbnail Image -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="modal-product-details-content-area">
                                    <!-- Start  Product Details Text Area-->
                                    <div class="product-details-text">
                                        <h4 class="title">Nonstick Dishwasher PFOA</h4>
                                        <div class="price"><del>$70.00</del>$80.00</div>
                                    </div> <!-- End  Product Details Text Area-->
                                    <!-- Start Product Variable Area -->
                                    <div class="product-details-variable">
                                        <!-- Product Variable Single Item -->
                                        <div class="variable-single-item">
                                            <span>Color</span>
                                            <div class="product-variable-color">
                                                <label for="modal-product-color-red">
                                                    <input name="modal-product-color" id="modal-product-color-red"
                                                        class="color-select" type="radio" checked>
                                                    <span class="product-color-red"></span>
                                                </label>
                                                <label for="modal-product-color-tomato">
                                                    <input name="modal-product-color" id="modal-product-color-tomato"
                                                        class="color-select" type="radio">
                                                    <span class="product-color-tomato"></span>
                                                </label>
                                                <label for="modal-product-color-green">
                                                    <input name="modal-product-color" id="modal-product-color-green"
                                                        class="color-select" type="radio">
                                                    <span class="product-color-green"></span>
                                                </label>
                                                <label for="modal-product-color-light-green">
                                                    <input name="modal-product-color"
                                                        id="modal-product-color-light-green" class="color-select"
                                                        type="radio">
                                                    <span class="product-color-light-green"></span>
                                                </label>
                                                <label for="modal-product-color-blue">
                                                    <input name="modal-product-color" id="modal-product-color-blue"
                                                        class="color-select" type="radio">
                                                    <span class="product-color-blue"></span>
                                                </label>
                                                <label for="modal-product-color-light-blue">
                                                    <input name="modal-product-color"
                                                        id="modal-product-color-light-blue" class="color-select"
                                                        type="radio">
                                                    <span class="product-color-light-blue"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Product Variable Single Item -->
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="variable-single-item ">
                                                <span>Quantity</span>
                                                <div class="product-variable-quantity">
                                                    <input min="1" max="100" value="1" type="number">
                                                </div>
                                            </div>

                                            <div class="product-add-to-cart-btn">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Add To
                                                    Cart</a>
                                            </div>
                                        </div>
                                    </div> <!-- End Product Variable Area -->
                                    <div class="modal-product-about-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste
                                            laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam
                                            in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel
                                            recusandae</p>
                                    </div>
                                    <!-- Start  Product Details Social Area-->
                                    <div class="modal-product-details-social">
                                        <span class="title">SHARE THIS PRODUCT</span>
                                        <ul>
                                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>

                                    </div> <!-- End  Product Details Social Area-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Modal Quickview cart -->


  
    <div id="addAddressModal" class="modal">
        <div class="modal-content">
            <h2>Add Address</h2>
            <form id="addAddressForm">
                <input
                    type="text"
                    name="name"
                    id="add-name"
                    placeholder="Enter your full name"
                 
                />
                <span id="name-error-msg" class="error-text"></span> <!-- New error span for full name -->
    
                <input
                    type="text"
                    name="streetaddress"
                    id="add-address"
                    placeholder="Enter your address"
                  
                />
                <span id="address-error-msg" class="error-text"></span> <!-- New error span for address -->
    
                <input
                    type="text"
                    name="landmark"
                    id="add-landmark"
                    placeholder="Enter Landmark"
                />
                <span id="landmark-error-msg" class="error-text"></span> <!-- New error span for landmark -->
    
                <input
                    type="text"
                    name="city"
                    id="add-city"
                    placeholder="Enter your city"
                
                />
                <span id="city-error-msg" class="error-text"></span> <!-- New error span for city -->
    
                <input
                    type="text"
                    name="state"
                    id="add-state"
                    placeholder="Enter your state"
                  
                />
                <span id="state-error-msg" class="error-text"></span> <!-- New error span for state -->
    
                <input
                    type="text"
                    name="pincode"
                    id="add-postal-code"
                    placeholder="Enter your postal code"
                  
                />
                <span id="pincode-error-msg" class="error-text"></span> <!-- New error span for postal code -->
    
                <input
                    type="text"
                    name="phone"
                    id="add-phone"
                    placeholder="Enter your phone number"
                 
                />
                <span id="phone-error-msg" class="error-text"></span> <!-- New error span for phone number -->
    
                <div class="button-group">
                    <button type="submit" class="btn save">Save</button>
                    <button type="button" class="btn cancel" id="closeModal">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    

    <!-- //edit modal  -->
    <div id="editAddressModal" class="modal">
        <div class="modal-content">
          <h2>Edit Address</h2>
          <form id="editAddressForm">
            <!-- Hidden input for ID -->
            <input
              type="text"
              name="id"
              id="edit-id"
              hidden
              class="custom-input"
            />
      
            <!-- Full name -->
            <input
              type="text"
              name="name"
              id="edit-name"
              placeholder="Enter your full name"
             
              class="custom-input"
            />
            <span id="name-error" class="error-message"></span>
      
            <!-- Address -->
            <input
              type="text"
              name="streetaddress"
              id="edit-address"
              placeholder="Enter your address"
            
              class="custom-input"
            />
            <span id="address-error" class="error-message"></span>
      
            <!-- Landmark -->
            <input
              type="text"
              name="landmark"
              id="edit-landmark"
              placeholder="Enter Landmark"
              class="custom-input"
            />
            <span id="landmark-error" class="error-message"></span>
      
            <!-- City -->
            <input
              type="text"
              name="city"
              id="edit-city"
              placeholder="Enter your city"
          
              class="custom-input"
            />
            <span id="city-error" class="error-message"></span>
      
            <!-- State -->
            <input
              type="text"
              name="state"
              id="edit-state"
              placeholder="Enter your state"
          
              class="custom-input"
            />
            <span id="state-error" class="error-message"></span>
      
            <!-- Postal Code -->
            <input
              type="text"
              name="pincode"
              id="edit-postal-code"
              placeholder="Enter your postal code"
            
              class="custom-input"
            />
            <span id="pincode-error" class="error-message" ></span>
      
            <!-- Phone Number -->
            <input
              type="text"
              name="phone"
              id="edit-phone"
              placeholder="Enter your phone number"
           
              class="custom-input"
            />
            <span id="phone-error" class="error-message"></span>
      
            
            <div class="button-group">
              <button type="submit" class="btn save">Save</button>
              <button type="button" class="btn cancel" id="closeEditModal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      
      


    



    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

<style>

    .checkout-container {
        display: flex;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .address-section {
        flex: 1;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }
    .order-section {
        flex: 1;
        background: white;
        border-radius: 8px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }
    .section-header {
        background: #2d2d2d;
        color: white;
        padding: 15px 20px;
        margin: -20px -20px 20px -20px;
        border-radius: 8px 8px 0 0;
        font-size: 16px;
        font-weight: bold;
    }
    .address-card {
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .address-card:hover {
        border-color: #666;
    }
    .address-card.selected {
        border-color: #2d2d2d;
        background-color: #f9f9f9;
    }
    .address-type {
        font-size: 12px;
        color: #666;
        margin-bottom: 5px;
    }
    .address-details {
        font-size: 14px;
        line-height: 1.4;
    }
    .add-address-btn {
        background: none;
        border: 1px dashed #666;
        padding: 15px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 10px;
    }
    .add-address-btn:hover {
        background: #f5f5f5;
    }
    .order-table {
        width: 100%;
        border-collapse: collapse;
    }
    .order-table th {
        text-align: left;
        padding: 15px 20px;
        background: #f5f5f5;
        font-weight: normal;
        color: #666;
    }
    .order-table td {
        padding: 15px 20px;
        border-bottom: 1px solid #eee;
    }
    .order-table tr:last-child td {
        border-bottom: none;
    }
    .total-row td {
        font-weight: bold;
        border-top: 2px solid #eee;
    }
    .price {
        text-align: right;
    }
</style>
<style>
    /* Modal Overlay */
    
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.modal-content {
    background-color: #fef9e7;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 15px;
    color: #333;
}

/* Input Fields */
.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Button Group */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Save Button */
.btn.save {
    background-color: #28a745;
    color: white;
}

.btn.save:hover {
    background-color: #218838;
}

/* Cancel Button */
.btn.cancel {
    background-color: #ffc107;
    color: white;
}

.btn.cancel:hover {
    background-color: #e0a800;
}

</style>



<!-- // edit syle  -->
<style>
.error-message {
  color: red;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 8px;
  text-align: left; /* Aligns text to the left */
  display: block;
}
.error-text {
  color: red;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 8px;
  text-align: left; /* Aligns text to the left */
  display: block;
}


    .custom-modal {
        display: none; /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    
    /* Modal Content */
    .custom-modal-content {
        background-color: #fef9e7;
        width: 90%;
        max-width: 400px;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    
    .custom-modal-content h2 {
        margin-bottom: 15px;
        color: #333;
    }
    
    /* Input Fields */
    .custom-input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }
    
    /* Button Group */
    .custom-button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .custom-btn {
        padding: 10px 20px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    /* Save Button */
    .custom-save {
        background-color: #28a745;
        color: white;
    }
    
    .custom-save:hover {
        background-color: #218838;
    }
    
    /* Cancel Button */
    .custom-cancel {
        background-color: #ffc107;
        color: white;
    }
    
    .custom-cancel:hover {
        background-color: #e0a800;
    }
    
    </style>



<script>

    
        document.querySelectorAll('.address-card').forEach(card => {
        card.addEventListener('click', () => {
            document.querySelectorAll('.address-card').forEach(c => {
                c.classList.remove('selected');
            });
            const selectedAddressId = card.getAttribute('addressID');
            card.classList.add('selected');

            console.log(selectedAddressId);
            // Use the selectedAddressId as needed
        });
    });

    const button = document.getElementById('process');
    button.addEventListener('click', async () => {
      
        const selectedAddressId = document.querySelector('input[name=addressDiv]:checked').value;
        // const selectPayment = document.getElementById('currencyCod').value;
        const selectPayment = document.querySelector('input[name=paymentMethod]:checked').value;
        const AMount = document.getElementById('amountTotal').value
        const couponSelect = document.getElementById("couponSelect").value;
        // console.log("jskahfs",couponSelect)
        const totalAMount = AMount||'<%=totalAmount%>';
        const Disount='<%=Disount%>'
        try {
            if (selectPayment === 'razorpay') {
                // alert("hi")
                const razorpayOrder =await fetch("/createRazorpayOrder",{
                    method:"POST",
                    headers:{'Content-Type':'application/json'},
                    body:JSON.stringify({selectedAddressId, selectPayment, totalAMount,couponSelect,Disount})
                })
                const result=await razorpayOrder.json()
                console.log("result",result)
                if(result.success){
                   
                    const options={
                        key: result.razorpayInstance.key_id,
        amount: result.razorpayOrder.amount,
        currency: "INR",
        order_id: result.razorpayOrder.id,
        name: "Your Store",
        description: "Secure Payment",
        handler: async function (razorpayResponse) {
            console.log("Razorpay Response:", razorpayResponse);
          const paymentResult = await fetch('/verifyPayment', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
            //   razorpayOrderId: "dfgdfgdfgdfgf",//razorpayResponse.razorpay_order_id,
            razorpayOrderId: razorpayResponse.razorpay_order_id,
            //   razorpayPaymentId: razorpayResponse.razorpay_payment_id,
            razorpayPaymentId: razorpayResponse.razorpay_payment_id,
            //   razorpaySignature: razorpayResponse.razorpay_signature,
            razorpaySignature: razorpayResponse.razorpay_signature,
              selectedAddressId,
              selectPayment,
              totalAMount,
              couponSelect,
            }),
          })
          const paymentData = await paymentResult.json();
          if (paymentData.success) {
            Swal.fire({
              icon: 'success',
              title: 'Payment Successful',
              text: 'Your payment has been verified.',
              confirmButtonText: 'Proceed to Order Details',
            }).then(() => {
              window.location.href = `/orderConfirm/${paymentData.newOrder._id}`; 
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Payment Verification Failed',
              text: paymentData.message || 'Unable to verify payment. Please try again.',
              confirmButtonText: 'Retry',
            });
          }
                }
        

      
            }
            const razorpayInstance = new Razorpay(options);
      razorpayInstance.open();
        }else{

        }

            }else if(selectPayment === 'cod'){
               
            const response = await fetch('/createOrder', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ selectedAddressId, selectPayment, totalAMount,couponSelect,Disount })
            });
            const data = await response.json()
            console.log(data)
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Order Placed Successfully!',
                    text: 'Your order has been confirmed.',
                    confirmButtonText: 'View Order',
                    timer: 3000,
                    timerProgressBar: true,
                }).then(() => {
                    window.location.href = `/orderConfirm/${data.newOrder._id}`; 
                });

            }
            
            else {
                const errorData = await response.json();
                Swal.fire({
                    icon: 'error',
                    title: 'Order Failed',
                    text: errorData.message || 'Unable to process your order. Please try again.',
                    confirmButtonText: 'Retry',
                });
            }
        }  else if(selectPayment==='wallet'){
            // alert("asfkh")
              const response = await fetch('/createOrderwallet', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ selectedAddressId, selectPayment, totalAMount,couponSelect,Disount })
            });
            const data = await response.json()
            console.log(data)
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Order Placed Successfully!',
                    text: 'Your order has been confirmed.',
                    confirmButtonText: 'View Order',
                    timer: 3000,
                    timerProgressBar: true,
                }).then(() => {
                    window.location.href = `/orderConfirm/${data.newOrder._id}`; 
                });

            }
            
            else {
                
                Swal.fire({
                    icon: 'error',
                    title: 'Order Failed',
                    text: data.message ,
                    confirmButtonText: 'Retry',
                });
            }
                
            }
        else{
          await  Swal.fire({
          icon: 'error',
          title: 'Order Failed',
          text: 'Unable to process your order. Please try again.',
        });
        }
        } catch (error) {
            console.error('Fetch error:', error);
            Swal.fire({
                icon: 'error',
                title: 'An Unexpected Error Occurred',
                text: 'Please check your network and try again.',
                confirmButtonText: 'Retry',
            });
        }
    });
</script>


<script>
    

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




<!-- add modal  -->
<script>
   



</script>

<script>

const editButtons = document.querySelectorAll('.custom-edit');
const editModal = document.getElementById('editAddressModal');
const closeEditButton = document.getElementById('closeEditModal');


editButtons.forEach((button) => {
    button.addEventListener('click', (event) => {
  
       
    const address = JSON.parse(event.target.value);
    document.getElementById("edit-id").value = address._id;
    document.getElementById("edit-name").value = address.name;
    document.getElementById("edit-address").value = address.streetaddress;
    document.getElementById("edit-landmark").value = address.landmark;
    document.getElementById("edit-city").value = address.city;
    document.getElementById("edit-state").value = address.state;
    document.getElementById("edit-postal-code").value = address.pincode;
    document.getElementById("edit-phone").value = address.phone;
    // console.log(address)
        editModal.style.display = 'flex';  
    });
});


closeEditButton.addEventListener('click', () => {
    editModal.style.display = 'none';
});

window.addEventListener('click', (event) => {
    if (event.target === editModal) {
        editModal.style.display = 'none';
    }
});


</script>

<!-- // edit adrress script  -->

<script>
    
</script>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const checkbox = document.getElementById('currencyCod'); 
        const raz=document.getElementById('currencyRazorpay')
        const wallet=document.getElementById('Wallet')
        const proceedButton = document.getElementById('process'); 
      
        checkbox.addEventListener('change', () => {
         
            if (checkbox.checked) {
                proceedButton.disabled = false; 
            } else {
                proceedButton.disabled = true; 
            }
        });
        raz.addEventListener('change', () => {
         
            if (raz.checked) {
                proceedButton.disabled = false; 
            } else {
                proceedButton.disabled = true; 
            }
        });
        wallet.addEventListener('change', () => {
         
         if (wallet.checked) {
             proceedButton.disabled = false; 
         } else {
             proceedButton.disabled = true; 
         }
     });

        
      
    });
</script>
<style>
    .onhover-show-div {
position: relative; 
display: inline-block;
}

.onhover-show-div ul {
display: none; 
position: absolute; 
top: 100%; /* Show below the hover element */
left: 0;
background-color: white;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow for visibility */
z-index: 1000; /* Ensure it appears above other content */
list-style: none; /* Remove default bullet points */
padding: 10px;
margin: 0;
max-height: none; /* Prevent height restrictions */
overflow: visible; /* Allow full dropdown to display */
}

.onhover-show-div:hover ul {
display: block; /* Show dropdown on hover */
}

.onhover-show-div ul li {
padding: 5px 10px; /* Add spacing between items */
white-space: nowrap; /* Prevent line breaks */
line-height: 1.5; /* Add spacing for better visibility */
}

.onhover-show-div ul li a {
text-decoration: none; /* Remove underline */
color: black; /* Default text color */
}

.onhover-show-div ul li a:hover {
color: rgb(14, 15, 12); /* Change color on hover */
}

/* New rule for the icon inside the .onhover-show-div */
.onhover-show-div > i {
color: rgb(0, 0, 0); /* Change icon color to white */
}

 </style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">


<script src="/assets/js/plugins/icon.js"></script>


<!-- form validation  -->

<script>
   document.getElementById("editAddressForm").addEventListener("submit", async function (event) {
  event.preventDefault(); 
  let isValid = true;

  document.querySelectorAll(".error-message").forEach((span) => (span.textContent = ""));

  const nameInput = document.getElementById("edit-name");
  if (nameInput.value.trim() === "") {
    document.getElementById("name-error").textContent = "Full name is required.";
    isValid = false;
  }
  const landmarkInput = document.getElementById("edit-landmark");
    if (landmarkInput.value.trim() === "") {
        document.getElementById("landmark-error").textContent = "Landmark is required."; // Custom message for landmark
        isValid = false;
    }
  const addressInput = document.getElementById("edit-address");
  if (addressInput.value.trim() === "") {
    document.getElementById("address-error").textContent = "Address is required.";
    isValid = false;
  }

  const cityInput = document.getElementById("edit-city");
  if (cityInput.value.trim() === "") {
    document.getElementById("city-error").textContent = "City is required.";
    isValid = false;
  }

  const stateInput = document.getElementById("edit-state");
  if (stateInput.value.trim() === "") {
    document.getElementById("state-error").textContent = "State is required.";
    isValid = false;
  }

  const postalCodeInput = document.getElementById("edit-postal-code");
  if (!/^\d{6}$/.test(postalCodeInput.value.trim())) {
    document.getElementById("pincode-error").textContent = "Postal code must be 6 digits.";
    isValid = false;
  }

  const phoneInput = document.getElementById("edit-phone");
  if (!/^\d{10}$/.test(phoneInput.value.trim())) {
    document.getElementById("phone-error").textContent = "Phone number must be 10 digits.";
    isValid = false;
  }

  if (isValid) {
    const data = {
      id: document.getElementById("edit-id").value,
      name: document.getElementById("edit-name").value,
      streetaddress: document.getElementById("edit-address").value,
      landmark: document.getElementById("edit-landmark").value,
      city: document.getElementById("edit-city").value,
      state: document.getElementById("edit-state").value,
      pincode: document.getElementById("edit-postal-code").value,
      phone: document.getElementById("edit-phone").value,
    };

    try {
      const response = await fetch("/editAddress", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      });

      if (response.ok) {
        await Swal.fire({ title: "Success", text: "Address updated successfully!", icon: "success" });
        window.location.reload();
      } else {
        await Swal.fire({ title: "Error", text: "Failed to update address.", icon: "error" });
      }
    } catch (error) {
      console.error("Error:", error);
      await Swal.fire({ title: "Error", text: "An error occurred while updating the address.", icon: "error" });
    }
  }
});

</script>


<!-- add address  -->
<script>
document.getElementById("addAddressForm").addEventListener("submit", function (event) {
  event.preventDefault();
  
  let isValid = true;
  document.querySelectorAll(".error-text").forEach((span) => (span.textContent = "")); // Clear all previous error messages

  const nameInput = document.getElementById("add-name");
  if (nameInput.value.trim() === "") {
    document.getElementById("name-error-msg").textContent = "Full name is required.";
    isValid = false;
  }


  const addressInput = document.getElementById("add-address");
  if (addressInput.value.trim() === "") {
    document.getElementById("address-error-msg").textContent = "Address is required.";
    isValid = false;
  }


  const landmarkInput = document.getElementById("add-landmark");
  if (landmarkInput.value.trim() !== "" && landmarkInput.value.length < 3) {
    document.getElementById("landmark-error-msg").textContent = "Landmark should be at least 3 characters if provided.";
    isValid = false;
  }


  const cityInput = document.getElementById("add-city");
  if (cityInput.value.trim() === "") {
    document.getElementById("city-error-msg").textContent = "City is required.";
    isValid = false;
  }

 
  const stateInput = document.getElementById("add-state");
  if (stateInput.value.trim() === "") {
    document.getElementById("state-error-msg").textContent = "State is required.";
    isValid = false;
  }


  const postalCodeInput = document.getElementById("add-postal-code");
  if (!/^\d{6}$/.test(postalCodeInput.value.trim())) {
    document.getElementById("pincode-error-msg").textContent = "Postal code must be 6 digits.";
    isValid = false;
  }

  const phoneInput = document.getElementById("add-phone");
  if (!/^\d{10}$/.test(phoneInput.value.trim())) {
    document.getElementById("phone-error-msg").textContent = "Phone number must be 10 digits.";
    isValid = false;
  }

  if (isValid) {
    const formData = {
      name: nameInput.value,
      streetaddress: addressInput.value,
      landmark: landmarkInput.value,
      city: cityInput.value,
      state: stateInput.value,
      pincode: postalCodeInput.value,
      phone: phoneInput.value,
    };

  
    fetch("/addAddress", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(formData),
    })
    .then((response) => {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error("Failed to add address.");
      }
    })
    .then((data) => {
      Swal.fire({
        title: 'Success!',
        text: 'Address added successfully!',
        icon: 'success',
        confirmButtonText: 'OK',
      });
      window.location.reload(); 
    })
    .catch((error) => {
      Swal.fire({
        title: 'Error',
        text: error.message || 'An error occurred. Please try again later.',
        icon: 'error',
        confirmButtonText: 'OK',
      });
    });
  }
});

document.getElementById('openModal').addEventListener('click', () => {
  document.getElementById('addAddressModal').style.display = 'flex';
});

document.getElementById('closeModal').addEventListener('click', () => {
  document.getElementById('addAddressModal').style.display = 'none';
});


</script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>


</html>